127.0.0.1		localhost
127.0.1.1		{{ inventory_hostname }}

{{ keystone_server }}       keystone

{{ vlan_network }}.1	  glance
{{ vlan_network }}.2	  ceilometer
{{ vlan_network }}.3    reserved

{{ vlan_network }}.4		nova-004
{{ vlan_network }}.5		nova-005
{{ vlan_network }}.6		nova-006
{{ vlan_network }}.7		nova-007
{{ vlan_network }}.8		nova-008
{{ vlan_network }}.9		nova-009
{{ vlan_network }}.10		nova-010
{{ vlan_network }}.11		nova-011
{{ vlan_network }}.12		nova-012
{{ vlan_network }}.13		nova-013
{{ vlan_network }}.14		nova-014
{{ vlan_network }}.15		nova-015
{{ vlan_network }}.16		nova-016
{{ vlan_network }}.17		nova-017
{{ vlan_network }}.18		nova-018
{{ vlan_network }}.19		nova-019
{{ vlan_network }}.20		nova-020
{{ vlan_network }}.21		nova-021
{{ vlan_network }}.22		nova-022
{{ vlan_network }}.23		nova-023
{{ vlan_network }}.24		nova-024
{{ vlan_network }}.25		nova-025
{{ vlan_network }}.26		nova-026
{{ vlan_network }}.27		nova-027
{{ vlan_network }}.28		nova-028
{{ vlan_network }}.29		nova-029
{{ vlan_network }}.30		nova-030
{{ vlan_network }}.31		nova-031
{{ vlan_network }}.32		nova-032
{{ vlan_network }}.33		nova-033
{{ vlan_network }}.34		nova-034
{{ vlan_network }}.35		nova-035
{{ vlan_network }}.36		nova-036
{{ vlan_network }}.37		nova-037
{{ vlan_network }}.38		nova-038
{{ vlan_network }}.39		nova-039
{{ vlan_network }}.40		nova-040
{{ vlan_network }}.41		nova-041
{{ vlan_network }}.42		nova-042
{{ vlan_network }}.43		nova-043
{{ vlan_network }}.44		nova-044
{{ vlan_network }}.45		nova-045
{{ vlan_network }}.46		nova-046
{{ vlan_network }}.47		nova-047
{{ vlan_network }}.48		nova-048
{{ vlan_network }}.49		nova-049
{{ vlan_network }}.50		nova-050
{{ vlan_network }}.51		nova-051
{{ vlan_network }}.52		nova-052
{{ vlan_network }}.53		nova-053
{{ vlan_network }}.54		nova-054
{{ vlan_network }}.55		nova-055
{{ vlan_network }}.56		nova-056
{{ vlan_network }}.57		nova-057
{{ vlan_network }}.58		nova-058
{{ vlan_network }}.59		nova-059
{{ vlan_network }}.60		nova-060
{{ vlan_network }}.61		nova-061
{{ vlan_network }}.62		nova-062
{{ vlan_network }}.63		nova-063
{{ vlan_network }}.64		nova-064
{{ vlan_network }}.65		nova-065
{{ vlan_network }}.66		nova-066
{{ vlan_network }}.67		nova-067
{{ vlan_network }}.68		nova-068
{{ vlan_network }}.69		nova-069
{{ vlan_network }}.70		nova-070
{{ vlan_network }}.71		nova-071
{{ vlan_network }}.72		nova-072
{{ vlan_network }}.73		nova-073
{{ vlan_network }}.74		nova-074
{{ vlan_network }}.75		nova-075
{{ vlan_network }}.76		nova-076
{{ vlan_network }}.77		nova-077
{{ vlan_network }}.78		nova-078
{{ vlan_network }}.79		nova-079
{{ vlan_network }}.80		nova-080
{{ vlan_network }}.81		nova-081
{{ vlan_network }}.82		nova-082
{{ vlan_network }}.83		nova-083
{{ vlan_network }}.84		nova-084
{{ vlan_network }}.85		nova-085
{{ vlan_network }}.86		nova-086
{{ vlan_network }}.87		nova-087
{{ vlan_network }}.88		nova-088
{{ vlan_network }}.89		nova-089
{{ vlan_network }}.90		nova-090
{{ vlan_network }}.91		nova-091
{{ vlan_network }}.92		nova-092
{{ vlan_network }}.93		nova-093
{{ vlan_network }}.94		nova-094
{{ vlan_network }}.95		nova-095
{{ vlan_network }}.96		nova-096
{{ vlan_network }}.97		nova-097
{{ vlan_network }}.98		nova-098
{{ vlan_network }}.99		nova-099
{{ vlan_network }}.100		nova-100
{{ vlan_network }}.101		nova-101
{{ vlan_network }}.102		nova-102
{{ vlan_network }}.103		nova-103
{{ vlan_network }}.104		nova-104
{{ vlan_network }}.105		nova-105
{{ vlan_network }}.106		nova-106
{{ vlan_network }}.107		nova-107
{{ vlan_network }}.108		nova-108
{{ vlan_network }}.109		nova-109
{{ vlan_network }}.110		nova-110
{{ vlan_network }}.111		nova-111
{{ vlan_network }}.112		nova-112
{{ vlan_network }}.113		nova-113
{{ vlan_network }}.114		nova-114
{{ vlan_network }}.115		nova-115
{{ vlan_network }}.116		nova-116
{{ vlan_network }}.117		nova-117
{{ vlan_network }}.118		nova-118
{{ vlan_network }}.119		nova-119
{{ vlan_network }}.120		nova-120
{{ vlan_network }}.121		nova-121
{{ vlan_network }}.122		nova-122
{{ vlan_network }}.123		nova-123
{{ vlan_network }}.124		nova-124
{{ vlan_network }}.125		nova-125
{{ vlan_network }}.126		nova-126
{{ vlan_network }}.127		nova-127
{{ vlan_network }}.128		nova-128
{{ vlan_network }}.129		nova-129
{{ vlan_network }}.130		nova-130
{{ vlan_network }}.131		nova-131
{{ vlan_network }}.132		nova-132
{{ vlan_network }}.133		nova-133
{{ vlan_network }}.134		nova-134
{{ vlan_network }}.135		nova-135
{{ vlan_network }}.136		nova-136
{{ vlan_network }}.137		nova-137
{{ vlan_network }}.138		nova-138
{{ vlan_network }}.139		nova-139
{{ vlan_network }}.140		nova-140
{{ vlan_network }}.141		nova-141
{{ vlan_network }}.142		nova-142
{{ vlan_network }}.143		nova-143
{{ vlan_network }}.144		nova-144
{{ vlan_network }}.145		nova-145
{{ vlan_network }}.146		nova-146
{{ vlan_network }}.147		nova-147
{{ vlan_network }}.148		nova-148
{{ vlan_network }}.149		nova-149
{{ vlan_network }}.150		nova-150
{{ vlan_network }}.151		nova-151
{{ vlan_network }}.152		nova-152
{{ vlan_network }}.153		nova-153
{{ vlan_network }}.154		nova-154
{{ vlan_network }}.155		nova-155
{{ vlan_network }}.156		nova-156
{{ vlan_network }}.157		nova-157
{{ vlan_network }}.158		nova-158
{{ vlan_network }}.159		nova-159
{{ vlan_network }}.160		nova-160
{{ vlan_network }}.161		nova-161
{{ vlan_network }}.162		nova-162
{{ vlan_network }}.163		nova-163
{{ vlan_network }}.164		nova-164
{{ vlan_network }}.165		nova-165
{{ vlan_network }}.166		nova-166
{{ vlan_network }}.167		nova-167
{{ vlan_network }}.168		nova-168
{{ vlan_network }}.169		nova-169
{{ vlan_network }}.170		nova-170
{{ vlan_network }}.171		nova-171
{{ vlan_network }}.172		nova-172
{{ vlan_network }}.173		nova-173
{{ vlan_network }}.174		nova-174
{{ vlan_network }}.175		nova-175
{{ vlan_network }}.176		nova-176
{{ vlan_network }}.177		nova-177
{{ vlan_network }}.178		nova-178
{{ vlan_network }}.179		nova-179
{{ vlan_network }}.180		nova-180
{{ vlan_network }}.181		nova-181
{{ vlan_network }}.182		nova-182
{{ vlan_network }}.183		nova-183
{{ vlan_network }}.184		nova-184
{{ vlan_network }}.185		nova-185
{{ vlan_network }}.186		nova-186
{{ vlan_network }}.187		nova-187
{{ vlan_network }}.188		nova-188
{{ vlan_network }}.189		nova-189
{{ vlan_network }}.190		nova-190
{{ vlan_network }}.191		nova-191
{{ vlan_network }}.192		nova-192
{{ vlan_network }}.193		nova-193
{{ vlan_network }}.194		nova-194
{{ vlan_network }}.195		nova-195
{{ vlan_network }}.196		nova-196
{{ vlan_network }}.197		nova-197
{{ vlan_network }}.198		nova-198
{{ vlan_network }}.199		nova-199
{{ vlan_network }}.200		nova-200
{{ vlan_network }}.201		nova-201
{{ vlan_network }}.202		nova-202
{{ vlan_network }}.203		nova-203
{{ vlan_network }}.204		nova-204
{{ vlan_network }}.205		nova-205
{{ vlan_network }}.206		nova-206
{{ vlan_network }}.207		nova-207
{{ vlan_network }}.208		nova-208
{{ vlan_network }}.209		nova-209
{{ vlan_network }}.210		nova-210
{{ vlan_network }}.211		nova-211
{{ vlan_network }}.212		nova-212
{{ vlan_network }}.213		nova-213
{{ vlan_network }}.214		nova-214
{{ vlan_network }}.215		nova-215
{{ vlan_network }}.216		nova-216
{{ vlan_network }}.217		nova-217
{{ vlan_network }}.218		nova-218
{{ vlan_network }}.219		nova-219
{{ vlan_network }}.220		nova-220
{{ vlan_network }}.221		nova-221
{{ vlan_network }}.222		nova-222
{{ vlan_network }}.223		nova-223
{{ vlan_network }}.224		nova-224
{{ vlan_network }}.225		nova-225
{{ vlan_network }}.226		nova-226
{{ vlan_network }}.227		nova-227
{{ vlan_network }}.228		nova-228
{{ vlan_network }}.229		nova-229
{{ vlan_network }}.230		nova-230
{{ vlan_network }}.231		nova-231
{{ vlan_network }}.232		nova-232
{{ vlan_network }}.233		nova-233
{{ vlan_network }}.234		nova-234
{{ vlan_network }}.235		nova-235
{{ vlan_network }}.236		nova-236
{{ vlan_network }}.237		nova-237
{{ vlan_network }}.238		nova-238
{{ vlan_network }}.239		nova-239
{{ vlan_network }}.240		nova-240
{{ vlan_network }}.241		nova-241
{{ vlan_network }}.242		nova-242
{{ vlan_network }}.243		nova-243
{{ vlan_network }}.244		nova-244
{{ vlan_network }}.245		nova-245
{{ vlan_network }}.246		nova-246
{{ vlan_network }}.247		nova-247
{{ vlan_network }}.248		nova-248
{{ vlan_network }}.249		nova-249
{{ vlan_network }}.250		nova-250
{{ vlan_network }}.251		nova-251
{{ vlan_network }}.252		nova-252
{{ vlan_network }}.253		nova-253
{{ vlan_network }}.254		nova-254


# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
